.globe-container {
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-image: url("pics/PIA10526.webp"); /* Path to your star texture */
  background-size: cover; /* Cover the entire width, crop top and bottom */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* No image repetition */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure children are positioned relative to the container */
}
